/* styles.css */

body {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Degradê suave em tons de rosa e laranja */
    font-family: 'Lobster', cursive; /* Fonte que reflete amor */
    color: #fff; /* Texto branco para contraste */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 40px 0; /* Aumenta a margem superior e inferior do cabeçalho */
}

h1 {
    font-size: 4em; /* Aumenta o tamanho da fonte do título */
    background: linear-gradient(to right, #f06, #f79); /* Degradê no título */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.highlight {
    font-weight: bold;
}

h2 {
    color: #ff6f61; /* Tom complementar ao fundo, um rosa mais intenso */
    font-size: 2.5em; /* Aumenta o tamanho da fonte dos subtítulos */
    margin-top: 30px;
    border-bottom: 3px solid #ff6f61;
}

p {
    color: #fff;
    font-size: 1.5em; /* Aumenta o tamanho da fonte dos parágrafos */
    line-height: 1.8;
    margin: 30px auto;
    width: 70%;
}

.photo {
    width: 60%; /* Reduz o tamanho das fotos */
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.proposal-button {
    display: block;
    width: 300px;
    margin: 40px auto; /* Aumenta a margem superior e inferior do botão */
    padding: 20px;
    background: linear-gradient(to right, #ff6f61, #f06); /* Degradê no botão */
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.5em; /* Aumenta o tamanho da fonte do botão */
    cursor: pointer;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.proposal-button:hover {
    background: linear-gradient(to right, #f06, #ff6f61); /* Degradê invertido ao passar o mouse */
}
strong{
    color: #850b48;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2em;
    background-color: #c75c04;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
a {
    text-decoration: none;
    color: #ff0800;
}
a:hover {
    background-color:#bd2f899f ;
    color:#e6e6fa ;
    border-radius: 5px;
    box-shadow:0px 6px 12px rgba(0, 0, 0, 0.2) ;

}
.cont {
    position: relative;
    display: inline-block;
}

.numero {
    visibility: hidden;
    opacity: 0;
    background-color: #d333;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 100%; /* Posição acima do botão */
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0.3s, opacity 0.3s;
    white-space: nowrap; /* Evita quebra de linha */
}

.cont:hover .numero {
    visibility: visible;
    opacity: 1;
}

.b {
    background-color: #1d016b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h5{
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;   
}

#nao:hover {
    position: absolute;
}
#nao{
    background-color: red;
    border-radius:5px;
    margin-left: 900px;
}
#sim {
    background-color: green;
    border-radius:5px;
    margin-left: 900px;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

